@import "../styles/Variables.scss";

.card {
    height: 300px;
    width: 300px;
    background-color: $black;
    border-radius: 30px;
    position: relative;

    img {
        height: inherit;
        width: inherit;
    }

    :nth-child(2) {
        display: none;
    }
}