@import "../styles/Variables.scss";

.products {
    // height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 $paddingMain;
    margin: 20px 0;
}