@import "../styles/Variables.scss";

.item-card {
    display: flex;
    flex-direction: row;
    border-bottom: 1.5px solid $black;
    padding: 15px 0;

    img {
        width: 40%;
    }

    button {
       border: none;
       height: 1rem;
       background-color: $white;
    }

    button:hover {
        background-color: #d0c4c4;
    }
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    padding-left: 50px;
}