@import "../styles/Variables.scss";

.navbar {
    height: 80px;
    background-color: $white;
    padding: 0 $paddingMain;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    border: solid $black;
    border-width: 3px 0;

    ul {
        height: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0;

        li {
            list-style: none;

            button {
                @include buttonStyle(100px);
            }
        }
    }
}